<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="yeslease" frontName="yeslease">
            <module name="Conns_Yeslease" />
        </route>
    </router>
</config>